output
jupyter/batteries
jupyter/quotas
jupyter/automation
jupyter/appendix
feedback
figures/tikz*
figures/tikz_loader.tex
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.DS_Store
*.backup
*.png
*.pdf
*.fig
*.jpg
*.eps
*.gif
*.aux
*.sav
*.bak

# Jupyter notebook (and support) files
*.json
*.cif
*_POSCAR
