output
feedback
defence
figures/tikz*
figures/temp
figures/tikz_loader.tex
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*pycache*
.DS_Store
*.backup
*.png
*.pdf
*.fig
*.jpg
*.eps
*.gif
*.aux
*.sav
*.bak
*.vesta

# Jupyter notebook (and support) files
*.json
*.cif
*_POSCAR
data
jupyter/quotas/semiconductors
